<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>success.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <meta  charset=UTF-8/>
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <h2 align="center">Successfull !</h2>
    <div align="center">line值:<span th:text="${line}==null?${param.line}:${line}" > </span>
    	<span th:if="${line}==null">
    		<span th:if="${param.line}==null"  >0</span>
    	</span>
    
    </div>
    <br><br>
    <a align="center" href="/toIndex">返回</a>
  </body>
</html>
